yarn-error.log
node_modules
.DS_STORE
dist

#####
# MEMO
# src/const/twitter-config.js はファイル変更の追跡は行なっていない
#
# 除外から戻すとき
# git update-index --no-assume-unchanged src/const/twitter-config.js
# 除外するとき
# git update-index --assume-unchanged src/const/twitter-config.js